[Unit]
Description=prefault and lock files into memory

[Service]
Type=exec
ExecStart=/usr/bin/prefault -v mlock
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target